<div>
  <h1>JSON to CSV</h1>

  <form action="/" method="POST">
    <textarea id="json-to-csv" name="json_to_csv" rows="30" style="width: 100%">{{filecontent}}</textarea>
    <hr />
    <div>
      <button type="submit">JSON to CSV</button>
      <button id="btnReset" type="button" style="float: right;">Reset</button>

      {{#if success}}
      <button type="button" id="btnDownloadCsv">Download CSV</button>
      <p>Success!</p>
      <a href id="linkToDownload" style="display: none;">.</a>
      {{else}}
      <p>{{{ error }}}</p>
      {{/if}}

    </div>

  </form>

</div>